.main {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.main__info {
  color: #ffffff;
  padding-top: 130px;
}

.main__titles-bold {
  margin: 0;
  font-family: 'ClashDisplay-Semibold';
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  z-index: 2;
}

.main__titles-normal {
  margin: 0;
  font-family: 'ClashDisplay-Regular';
  font-size: 80px;
  line-height: 90px;
  font-weight: 400;
}

.main__discharge{
  width: 427px;
  height: 38px;
  margin: 24px auto 0;
  background-image: url('../../../images/discharge.svg'),url('../../../images/discharge2.svg');
  background-repeat: no-repeat;
  background-position: left top, center;
  background-size: 100%;
  z-index: 3;
}

.main__description{
font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin: 32px 0 0 0;
}

.main__connectButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px 0 0 0;
}

.main__choiceButtonsTitles{
  margin: 40px 0 0 0;
  font-family: 'Inter';
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

.main__choiceButtons{
  margin: 40px 0 0 0;
  max-width: 466px;
}

@media screen and (max-width: 1380px) {
  .main{
    max-width: 900px;
  }
}
@media screen and (max-width: 1100px) {
  .main{
    max-width: 700px;
  }
}

@media screen and (max-width: 980px) {
  .main{
    max-width: 600px;
  }
}
@media screen and (max-width: 880px) {
  .main{
    max-width: 500px;
  }
  .main__titles-bold {
    font-size: 70px;
    line-height: 80px;
  }

  .main__titles-normal {
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 780px) {
  .main{
    max-width: 400px;
  }
  .main__connectButtons{
    max-width: 350px;
    justify-content: space-between;
  }
  .main__titles-bold {
    font-size: 50px;
    line-height: 60px;
  }

  .main__titles-normal {
    font-size: 50px;
    line-height: 60px;
  }

  .main__discharge{
    width: 340px;
    height: 38px;
  }
  .main__titles{
    max-width: 340px;
    /* margin: 0 auto; */
  }
  .main__description{
    font-size: 14px;
    margin: 32px auto 0;
    max-width: 340px;

    }

    .main__choiceButtonsTitles{
      margin: 40px 0 0 0;
      font-size: 20px;
    }

    .main__choiceButtons{
      margin: 40px 0 0 0;
      max-width: 340px;
    }
    .main__info {
      margin: 0 auto;

    }
}

@media screen and (max-width: 580px) {
  .main{
    max-width: 320px;
  }
  .main__connectButtons{
    max-width: 300px;
    justify-content: space-between;
    margin: 32px auto 0;
  }

  .main__discharge{
    width: 300px;
    height: 38px;
  }
  .main__titles{
    max-width: 300px;
    /* margin: 0 auto; */
  }
  .main__description{
    font-size: 14px;
    margin: 32px auto 0;
    max-width: 300px;

    }

    .main__choiceButtonsTitles{
      margin: 40px 0 0 0;
      font-size: 20px;
    }

    .main__choiceButtons{
      margin: 40px 0 0 0;
      max-width: 300px;
    }
}