.cardAuction__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cardAuction__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cardAuction__singleImage {
  width: 168px;
  height: 272px;
}

.cardAuction__columnImages {
  flex-direction: column;
}

.cardAuction__columnImage {
  width: 168px;
  height: 128px;
}

.card__brandName {
  margin: 0;
  padding: 0;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #968BA1;
  width: 100%;
}

