.background {
  position: relative;
  width: 100%;
  background-color: #d9d9d9;
  height: 1200px;
  overflow: hidden;
}

.ellipse1 {
  position: absolute;
  width: 377px;
  height: 377px;
  border-radius: 50%;
  background-color: #5f6cbd;
  left: -45px;
  top: 177px;
  filter: blur(150px);
}
.ellipse2 {
  position: absolute;
  left: 773px;
  top: 539px;
}
.ellipse3 {
  position: absolute;
  left: 1223px;
  top: 55px;
}
.vector {
  position: absolute;
  width: 514px;
  height: 678px;
  top: -129px;
  left: 1175px;
  opacity: 80%;
  background-image: url(../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
