.background {
  position: relative;
  width: 100%;
  background-color: #080B2A;
  height: 5800px;
}

.ellipse1 {
  position: absolute;
  width: 377px;
  height: 377px;
  border-radius: 50%;
  background-color: #5f6cbd;
  left: -5em;
  top: 177px;
  filter: blur(150px);
}
.ellipse2 {
  position: absolute;
  left: 773px;
  top: 539px;
}
.ellipse3 {
  position: absolute;
  left: 1223px;
  top: 55px;
}
.vector {
  position: absolute;
  width: 514px;
  height: 678px;
  top: 110px;
  left: 1003px;
  /* opacity: 80%; */
  background-image: url(../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: left 70%;
  /* background-size: 100%; */
}

@media screen and (max-width: 1700px) {
  .vector {
    left: 59em;
  }
  .ellipse1 {
    left: 0;
  }
  .ellipse2 {
    left: 473px;
    top: 539px;
  }
  .ellipse3 {
    left: 923px;
    top: 55px;
  }
}
@media screen and (max-width: 1500px) {
  .vector {
    left: 56em;
  }
  .ellipse2 {
    left: 273px;
    top: 539px;
  }
  .ellipse3 {
    left: 823px;
    top: 55px;
  }
}