.itemInfo {
  margin: 0 auto;
}

.itemInfo__wapper {
  color:#ffffff;
  padding: 80px 126px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemInfo__rightInfo{
  flex-direction: column;
}