
.app {
    display: flex;
    position: relative;
    background-color: #080B2A;
    min-width: 320px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

body{
  background-color: #080B2A;
}

@media screen and (max-width: 950px) {
    .nav-tab {
      flex-flow: column nowrap;
    }
    .nav-tab__btn {
      font-size: 16px;
      line-height: 18px;
    }
  }