
.app {
    width: 100%;
    display: flex;
    position: relative;
    margin:0 auto;
    background-color: #080B2A;
}

@media screen and (max-width: 950px) {
    .nav-tab {
      flex-flow: column nowrap;
    }
    .nav-tab__btn {
      font-size: 16px;
      line-height: 18px;
    }
  }