.main__cards{
  position: relative;
}

.card {
  background-color: #080B2Ab3;
  /* background-color: rgba(255, 0, 0, 0.5); */
  display: flex;
  position: relative;
  color: #ffffff;
  width: 300px;
  height: 410px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 16px;
  border: 1px solid #15bffd;
  z-index: 1;
  margin-left: 100px;
  /* opacity: 70%; */
}

.card__qty {
  margin: 0 3px 0 0;
}
.card__worksQty{
  display: flex;
  flex-direction: row;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 16px 0 0 16px;
}
.card__priceWindow{
  display: flex;
  flex-direction: row;
  font-family: 'Poppins-SemiBold';
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 0 16px;
  color: #15BFFD;
}
.card__ethereumIcon{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-image:url('../../images/ethereumIcon.svg') ;
}

.card__price{
  opacity: 100%;
  margin: 0 7px 0 0;
}
.card__image {
  width: 268px;
  height: 241px;
  margin: 0 auto;
  filter: blur(1px);
}

.card__NFTname{
  margin: 0;
  padding: 0;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 16px;
}

.card__owner{
  display: flex;
  flex-direction: row;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 16px;
  color: #968BA1;
  margin-left: 16px;
}

.card__ownerAvatar{
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  margin-right: 8px;
}

.card_rotate{
position: absolute;
top:115px;
left:265px;
transform:rotate(26.5deg);
}
