.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:40px auto 0;
  max-width: 1200px;
  color:#ffffff;
}
.footer__copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}