.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto;
  max-width: 1200px;
  color: #ffffff;
}
.footer__ColumnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100px;
}

.footer__LinksWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.footer__ColumnWrapper:nth-of-type(3) {
  min-width: 150px;
}
.footer__text {
  transition-duration:0.2s;
  font-family: "ClashDisplay-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 320px;
}

.footer__text:hover {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  max-width: 320px;
}
.footer__copyrightText {
  font-family: "ClashDisplay-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 320px;
  margin: 24px 0;
}

.footer__titles {
  font-family: "ClashDisplay-Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 24.6px;
  margin-bottom: 20px;
}
.footer__subtitles {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 113px 0;
}
.socialLink {
  transition-duration:0.3s;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 20px;
}
.socialLink:hover{
  transform: scale(1.15,1.15);
 }

.facebook {
  background-image: url("../../../images/faceboock.svg");
}
.likedIn {
  background-image: url("../../../images/linkedIn.svg");
}

.twitter {
  background-image: url("../../../images/twitter.svg");
}

.footer__navLink {
  text-decoration: none;
  color: #ffffff;
}
.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: "ClashDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 1380px) {
  .footer{
    max-width: 1000px;
  }
}

@media screen and (max-width: 1190px) {
  .footer{
    max-width: 800px;
  }
  .footer__copyrightText{
    max-width: 220px;
  }
}

@media screen and (max-width: 980px) {
  .footer{
    max-width: 750px;
  }

}

@media screen and (max-width: 870px) {
  .footer{
    max-width: 650px;
  }
  .footer__subtitles {
    margin: 0 0 10px 0;
  }

}

@media screen and (max-width: 770px) {
  .footer{
    max-width: 500px;
    flex-direction: column-reverse;
  }
  .footer__LinksWrapper{
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__titles {
    font-size: 16px;
    line-height: 24.6px;
    margin-bottom: 10px;
  }
  .footer__text {
    font-size: 14px;
  }

  .footer__subtitles {
    margin: 0 0 5px 0;
  }

}

@media screen and (max-width: 670px) {
  .footer{
    max-width: 400px;
    flex-direction: column-reverse;
  }

  .footer__titles {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__text {
    font-size: 12px;
  }

  .footer__copyrightText {
    font-size: 12px;
    line-height: 14px;
  }

  .footer__ColumnWrapper:nth-of-type(3) {
    min-width: 100px;
  }


}

@media screen and (max-width: 470px) {
  .footer{
    max-width: 380px;
  }

}