.auction{
display: flex;
flex-direction: column;
color:#ffffff;
padding-top: 160px;
}
.auction__title{
  font-family: 'ClashDisplay-Semibold';
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin: 0 auto;
}
.auction__subtitle{
  font-family: "Inter";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 16px;
  text-align: center;
}

.auction__card-container{
  padding-top: 60px;
  max-width: 1200px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px;
  justify-items: stretch;
  align-items: center;
}