.ant-btn-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


.ant-btn-text.ant-btn:not(:disabled):hover {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.ant-btn-primary:hover{
 transition-duration:0.3s;
 transform: scale(1.1,1.1);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 70%;
}
.nav__mainBlock{
  display: flex;
  align-items: center;
  width: 40%;
  /* margin-right: 202px; */
}
.nav__searchBlock {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.nav__searchButton:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.favorite_button{
  background-color: inherit;
  width: 186px;
  height: 54px;
  border: solid 2px #15BFFD;
  box-sizing: border-box;
  color: #15BFFD;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}


@media screen and (max-width: 1380px) {
  .nav__mainBlock{
    width: 50%;
  }
  .nav__searchBlock {
    width: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .nav{
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 880px) {
  .ant-btn-primary{
    font-size: 12px;
    padding: 4px 10px;
   }
   .ant-btn-text{
    font-size: 14px;
   }
}

@media screen and (max-width: 750px) {
  .ant-btn-text{
    font-size: 12px;
    padding: 4px 10px;
   }
}

@media screen and (max-width: 650px) {
  .ant-btn-text{
    padding: 0px 5px;
   }
   .ant-btn-primary{
    padding: 4px 8px;
   }

   .nav__mainBlock{
    width: 45%;
  }
  .nav__searchBlock {
    width: 55%;
  }

  .nav{
    flex-direction: column;
  }
}

